In [3]:
import pandas as pd

In [18]:
movies=pd.read_csv(r'C:\mini_proj\Movies_Rec\Top Indian Movies.csv')

In [19]:
movies.head(10)

,Title,Year of Release,Rating,Number of Reviews,Popularity Index,Movie Cast,Director,Description
0,Anbe Sivam,2003,8.7,21K,"11,629","['Kamal Haasan', 'Madhavan', 'Kiran Rathod', '...",Sundar C.,"Two men, one young and arrogant, the other dam..."
1,Golmaal,1979,8.5,19K,"39,634","['Amol Palekar', 'Bindiya Goswami', 'Deven Ver...",Hrishikesh Mukherjee,A man's simple lie to secure his job escalates...
2,Jai Bhim,2021,8.9,193K,898,"['Suriya', 'Lijo Mol Jose', 'Manikandan K.', '...",T.J. Gnanavel,When a tribal man is arrested for a case of al...
3,Nayakan,1987,8.6,20K,"17,539","['Kamal Haasan', 'Saranya Ponvannan', 'Delhi G...",Mani Ratnam,A common man's struggles against a corrupt pol...
4,Pariyerum Perumal,2018,8.7,16K,"17,434","['Kathir', 'Anandhi', 'Yogi Babu', 'Lijeesh', ...",Mari Selvaraj,A law student from a lower caste begins a frie...
5,Rocketry: The Nambi Effect,2022,9.2,18K,70,"['Madhavan', 'Simran', 'Rajit Kapoor', 'Ravi R...",Madhavan,Based on the life of ISRO Scientist Nambi Nara...
6,3 Idiots,2009,8.4,391K,875,"['Aamir Khan', 'Madhavan', 'Mona Singh', 'Shar...",Rajkumar Hirani,Two friends are searching for their long lost ...
7,Apur Sansar,1959,8.5,15K,"14,821","['Soumitra Chatterjee', 'Sharmila Tagore', 'Al...",Satyajit Ray,This final installment in Satyajit Ray's Apu T...
8,Manichitrathazhu,1993,8.7,11K,"32,603","['Shobana', 'Mohanlal', 'Suresh Gopi', 'Vinaya...",Fazil,When a forbidden room in an old bungalow is un...
9,Kumbalangi Nights,2019,8.5,15K,"12,316","['Shane Nigam', 'Soubin Shahir', 'Fahadh Faasi...",Madhu C. Narayanan,The film revolves around four brothers who sha...

In [20]:
print(movies.columns.tolist())  # Check after each transformation step

['Title', 'Year of Release', 'Rating', 'Number of Reviews', 'Popularity Index', 'Movie Cast', 'Director', 'Description']

In [21]:
movies.describe()

       Year of Release      Rating
count       250.000000  250.000000
mean       2008.068000    8.161200
std          14.198796    0.270754
min        1955.000000    7.700000
25%        2004.000000    8.000000
50%        2013.000000    8.100000
75%        2018.000000    8.300000
max        2022.000000    9.200000

In [22]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Title              250 non-null    object
 1   Year of Release    250 non-null    int64
 2   Rating             250 non-null    float64
 3   Number of Reviews  250 non-null    object
 4   Popularity Index   250 non-null    object
 5   Movie Cast         250 non-null    object
 6   Director           250 non-null    object
 7   Description        250 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 15.8+ KB

In [23]:
movies.isnull().sum()

Title                0
Year of Release      0
Rating               0
Number of Reviews    0
Popularity Index     0
Movie Cast           0
Director             0
Description          0
dtype: int64

Feature Selection Part

In [24]:
movies.columns

Index(['Title', 'Year of Release', 'Rating', 'Number of Reviews',
       'Popularity Index', 'Movie Cast', 'Director', 'Description'],
      dtype='object')

In [25]:
print(movies.columns.tolist())

['Title', 'Year of Release', 'Rating', 'Number of Reviews', 'Popularity Index', 'Movie Cast', 'Director', 'Description']

In [26]:
movies=movies[['Title', 'Year of Release', 'Rating', 'Number of Reviews',
       'Popularity Index', 'Movie Cast', 'Director', 'Description']]

In [27]:
movies

,Title,Year of Release,Rating,Number of Reviews,Popularity Index,Movie Cast,Director,Description
0,Anbe Sivam,2003,8.7,21K,"11,629","['Kamal Haasan', 'Madhavan', 'Kiran Rathod', '...",Sundar C.,"Two men, one young and arrogant, the other dam..."
1,Golmaal,1979,8.5,19K,"39,634","['Amol Palekar', 'Bindiya Goswami', 'Deven Ver...",Hrishikesh Mukherjee,A man's simple lie to secure his job escalates...
2,Jai Bhim,2021,8.9,193K,898,"['Suriya', 'Lijo Mol Jose', 'Manikandan K.', '...",T.J. Gnanavel,When a tribal man is arrested for a case of al...
3,Nayakan,1987,8.6,20K,"17,539","['Kamal Haasan', 'Saranya Ponvannan', 'Delhi G...",Mani Ratnam,A common man's struggles against a corrupt pol...
4,Pariyerum Perumal,2018,8.7,16K,"17,434","['Kathir', 'Anandhi', 'Yogi Babu', 'Lijeesh', ...",Mari Selvaraj,A law student from a lower caste begins a frie...
...,...,...,...,...,...,...,...,...
245,24,2016,7.9,22K,"15,150","['Suriya', 'Samantha Ruth Prabhu', 'Nithya Men...",Vikram K. Kumar,"A scientist invents a time machine, which lead..."
246,Kapoor and Sons,2016,7.7,26K,"11,176","['Rishi Kapoor', 'Rajat Kapoor', 'Ratna Pathak...",Shakun Batra,The story about two brothers who visit their d...
247,Velaiilla Pattadhari,2014,7.8,7.4K,"34,163","['Dhanush', 'Saranya Ponvannan', 'Amala Paul',...",Velraj,A jobless young man gets to redeem himself.
248,Colour Photo,2020,8.2,5.5K,"25,938","['Suhas', 'Chandini Chowdary', 'Sunil', 'Harsh...",Sandeep Raj,A tragic-comedy that is set in the 90s between...
249,Rockstar,2011,7.7,44K,"9,274","['Ranbir Kapoor', 'Nargis Fakhri', 'Shammi Kap...",Imtiaz Ali,Janardhan Jakhar chases his dreams of becoming...

In [29]:
movies = movies.copy()

In [30]:
movies

,Title,Year of Release,Rating,Number of Reviews,Popularity Index,Movie Cast,Director,Description
0,Anbe Sivam,2003,8.7,21K,"11,629","['Kamal Haasan', 'Madhavan', 'Kiran Rathod', '...",Sundar C.,"Two men, one young and arrogant, the other dam..."
1,Golmaal,1979,8.5,19K,"39,634","['Amol Palekar', 'Bindiya Goswami', 'Deven Ver...",Hrishikesh Mukherjee,A man's simple lie to secure his job escalates...
2,Jai Bhim,2021,8.9,193K,898,"['Suriya', 'Lijo Mol Jose', 'Manikandan K.', '...",T.J. Gnanavel,When a tribal man is arrested for a case of al...
3,Nayakan,1987,8.6,20K,"17,539","['Kamal Haasan', 'Saranya Ponvannan', 'Delhi G...",Mani Ratnam,A common man's struggles against a corrupt pol...
4,Pariyerum Perumal,2018,8.7,16K,"17,434","['Kathir', 'Anandhi', 'Yogi Babu', 'Lijeesh', ...",Mari Selvaraj,A law student from a lower caste begins a frie...
...,...,...,...,...,...,...,...,...
245,24,2016,7.9,22K,"15,150","['Suriya', 'Samantha Ruth Prabhu', 'Nithya Men...",Vikram K. Kumar,"A scientist invents a time machine, which lead..."
246,Kapoor and Sons,2016,7.7,26K,"11,176","['Rishi Kapoor', 'Rajat Kapoor', 'Ratna Pathak...",Shakun Batra,The story about two brothers who visit their d...
247,Velaiilla Pattadhari,2014,7.8,7.4K,"34,163","['Dhanush', 'Saranya Ponvannan', 'Amala Paul',...",Velraj,A jobless young man gets to redeem himself.
248,Colour Photo,2020,8.2,5.5K,"25,938","['Suhas', 'Chandini Chowdary', 'Sunil', 'Harsh...",Sandeep Raj,A tragic-comedy that is set in the 90s between...
249,Rockstar,2011,7.7,44K,"9,274","['Ranbir Kapoor', 'Nargis Fakhri', 'Shammi Kap...",Imtiaz Ali,Janardhan Jakhar chases his dreams of becoming...

In [53]:
new_data = movies

In [54]:
new_data

,Title,Year of Release,Rating,Number of Reviews,Popularity Index,Movie Cast,Director,Description
0,Anbe Sivam,2003,8.7,21K,"11,629","['Kamal Haasan', 'Madhavan', 'Kiran Rathod', '...",Sundar C.,"Two men, one young and arrogant, the other dam..."
1,Golmaal,1979,8.5,19K,"39,634","['Amol Palekar', 'Bindiya Goswami', 'Deven Ver...",Hrishikesh Mukherjee,A man's simple lie to secure his job escalates...
2,Jai Bhim,2021,8.9,193K,898,"['Suriya', 'Lijo Mol Jose', 'Manikandan K.', '...",T.J. Gnanavel,When a tribal man is arrested for a case of al...
3,Nayakan,1987,8.6,20K,"17,539","['Kamal Haasan', 'Saranya Ponvannan', 'Delhi G...",Mani Ratnam,A common man's struggles against a corrupt pol...
4,Pariyerum Perumal,2018,8.7,16K,"17,434","['Kathir', 'Anandhi', 'Yogi Babu', 'Lijeesh', ...",Mari Selvaraj,A law student from a lower caste begins a frie...
...,...,...,...,...,...,...,...,...
245,24,2016,7.9,22K,"15,150","['Suriya', 'Samantha Ruth Prabhu', 'Nithya Men...",Vikram K. Kumar,"A scientist invents a time machine, which lead..."
246,Kapoor and Sons,2016,7.7,26K,"11,176","['Rishi Kapoor', 'Rajat Kapoor', 'Ratna Pathak...",Shakun Batra,The story about two brothers who visit their d...
247,Velaiilla Pattadhari,2014,7.8,7.4K,"34,163","['Dhanush', 'Saranya Ponvannan', 'Amala Paul',...",Velraj,A jobless young man gets to redeem himself.
248,Colour Photo,2020,8.2,5.5K,"25,938","['Suhas', 'Chandini Chowdary', 'Sunil', 'Harsh...",Sandeep Raj,A tragic-comedy that is set in the 90s between...
249,Rockstar,2011,7.7,44K,"9,274","['Ranbir Kapoor', 'Nargis Fakhri', 'Shammi Kap...",Imtiaz Ali,Janardhan Jakhar chases his dreams of becoming...

In [55]:
from sklearn.feature_extraction.text import CountVectorizer

In [56]:
cv=CountVectorizer(max_features=10000, stop_words='english')

In [57]:
cv

CountVectorizer(max_features=10000, stop_words='english')

In [58]:
vector=cv.fit_transform(new_data['Movie Cast'].values.astype('U')).toarray()

In [59]:
vector.shape

(250, 3335)

In [60]:
from sklearn.metrics.pairwise import cosine_similarity

In [61]:
similarity=cosine_similarity(vector)

In [62]:
similarity

array([[1.        , 0.        , 0.03573708, ..., 0.03849002, 0.        ,
        0.        ],
       [0.        , 1.        , 0.        , ..., 0.        , 0.        ,
        0.02665009],
       [0.03573708, 0.        , 1.        , ..., 0.03713907, 0.03872015,
        0.02799463],
       ...,
       [0.03849002, 0.        , 0.03713907, ..., 1.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.03872015, ..., 0.        , 1.        ,
        0.03143473],
       [0.        , 0.02665009, 0.02799463, ..., 0.        , 0.03143473,
        1.        ]])

In [64]:
new_data[new_data['Title']=="Vikram"].index[0]

34

In [65]:
distance = sorted(list(enumerate(similarity[2])), reverse=True, key=lambda vector:vector[1])
for i in distance[0:5]:
    print(new_data.iloc[i[0]].Title)

Jai Bhim
Asuran
Soodhu Kavvum
Kannathil Muthamittal
Bommarillu

In [66]:
def recommand(movies):
    index=new_data[new_data['Title']==movies].index[0]
    distance = sorted(list(enumerate(similarity[index])), reverse=True, key=lambda vector:vector[1])
    for i in distance[0:5]:
        print(new_data.iloc[i[0]].Title)

In [67]:
recommand("Vikram")

Vikram
Super Deluxe
96
Anbe Sivam
Naduvula Konjam Pakkatha Kaanom

In [68]:
import pickle

In [71]:
pickle.dump(new_data, open('C:\mini_proj\Movies_Rec\moviesList.pkl', 'wb'))

In [76]:
pickle.dump(similarity, open('C:\mini_proj\Movies_Rec\similar.pkl', 'wb'))

In [73]:
pickle.load(open('C:\mini_proj\Movies_Rec\moviesList.pkl', 'rb'))

,Title,Year of Release,Rating,Number of Reviews,Popularity Index,Movie Cast,Director,Description
0,Anbe Sivam,2003,8.7,21K,"11,629","['Kamal Haasan', 'Madhavan', 'Kiran Rathod', '...",Sundar C.,"Two men, one young and arrogant, the other dam..."
1,Golmaal,1979,8.5,19K,"39,634","['Amol Palekar', 'Bindiya Goswami', 'Deven Ver...",Hrishikesh Mukherjee,A man's simple lie to secure his job escalates...
2,Jai Bhim,2021,8.9,193K,898,"['Suriya', 'Lijo Mol Jose', 'Manikandan K.', '...",T.J. Gnanavel,When a tribal man is arrested for a case of al...
3,Nayakan,1987,8.6,20K,"17,539","['Kamal Haasan', 'Saranya Ponvannan', 'Delhi G...",Mani Ratnam,A common man's struggles against a corrupt pol...
4,Pariyerum Perumal,2018,8.7,16K,"17,434","['Kathir', 'Anandhi', 'Yogi Babu', 'Lijeesh', ...",Mari Selvaraj,A law student from a lower caste begins a frie...
...,...,...,...,...,...,...,...,...
245,24,2016,7.9,22K,"15,150","['Suriya', 'Samantha Ruth Prabhu', 'Nithya Men...",Vikram K. Kumar,"A scientist invents a time machine, which lead..."
246,Kapoor and Sons,2016,7.7,26K,"11,176","['Rishi Kapoor', 'Rajat Kapoor', 'Ratna Pathak...",Shakun Batra,The story about two brothers who visit their d...
247,Velaiilla Pattadhari,2014,7.8,7.4K,"34,163","['Dhanush', 'Saranya Ponvannan', 'Amala Paul',...",Velraj,A jobless young man gets to redeem himself.
248,Colour Photo,2020,8.2,5.5K,"25,938","['Suhas', 'Chandini Chowdary', 'Sunil', 'Harsh...",Sandeep Raj,A tragic-comedy that is set in the 90s between...
249,Rockstar,2011,7.7,44K,"9,274","['Ranbir Kapoor', 'Nargis Fakhri', 'Shammi Kap...",Imtiaz Ali,Janardhan Jakhar chases his dreams of becoming...

In [77]:
pickle.load(open('C:\mini_proj\Movies_Rec\similar.pkl', 'rb'))

array([[1.        , 0.        , 0.03573708, ..., 0.03849002, 0.        ,
        0.        ],
       [0.        , 1.        , 0.        , ..., 0.        , 0.        ,
        0.02665009],
       [0.03573708, 0.        , 1.        , ..., 0.03713907, 0.03872015,
        0.02799463],
       ...,
       [0.03849002, 0.        , 0.03713907, ..., 1.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.03872015, ..., 0.        , 1.        ,
        0.03143473],
       [0.        , 0.02665009, 0.02799463, ..., 0.        , 0.03143473,
        1.        ]])